<div class="form-container">
  <div class="register-card">
    @if (!isRegistered) {
    <div class="form-header">
      <h2>Create your account</h2>
    </div>

    <div class="form-group">
      <label>Username</label>
      <input type="text" [(ngModel)]="userData.username" placeholder="Choose a username">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="userData.password" placeholder="Enter password">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm your password">
    </div>

    @if (errorMessage) {
      <p class="error-msg">{{ errorMessage }}</p>
    }

      <p class="footer-text">
        Already have an account?
        <span (click)="goToLogin()" style="cursor: pointer; color: #3498db;">Log in here</span>
      </p>

    <button class="signup-btn" (click)="onRegister()">Sign Up</button>
    } @else {
      <div class="success-container slide-in">
        <h2>Registration Successful!</h2>
        <p>Your account has been created.</p>

        <button class="login-now-btn" (click)="goToLogin()">
          Log In Now
        </button>
      </div>
    }
  </div>
</div>
