<div class="page-container">
  <div class="left-side">
    <h1 class="welcome-text">
      Welcome to <br>
      <span class="name">ServiceAuto</span>
    </h1>
    <h3>
      <span class="highlight">Track</span>,
      <span class="highlight">schedule</span>, and
      <span class="highlight">manage</span> your car services
      <span class="highlight">effortlessly</span>!
    </h3>
  </div>

  <div class="divider">
    <img src="car.png" class="car lane1" style="animation-delay: 0s;" />
    <img src="car.png" class="car lane2" style="animation-delay: 1.2s;" />
    <img src="car.png" class="car lane1" style="animation-delay: 1.9s;" />
    <img src="car.png" class="car lane2" style="animation-delay: 2.4s;" />
    <img src="car.png" class="car lane1" style="animation-delay: 3.6s;" />
  </div>

  <div class="right-side">
    @if (viewMode === 'buttons') {
      <div class="button-stack">
        <button class="btn register-btn" (click)="setMode('register')">Register</button>
        <button class="btn login-btn" (click)="setMode('login')">Login</button>
      </div>
    }

    @if (viewMode === 'register') {
      <div class="slide-in">
        <app-register
          (cancel)="setMode('buttons')"
          (switchToLogin)="setMode('login')">
        </app-register>
      </div>
    }

    @if (viewMode === 'login') {
      <div class="slide-in">
        <app-login
          (cancel)="setMode('buttons')"
          (switchToRegister)="setMode('register')"> </app-login>
      </div>
    }
  </div>
</div>
